// Core JS Files
script(src='/assets/plugins/jquery/jquery.min.js')
script(src='/assets/plugins/lodash/lodash.min.js')
// jQuery UI 1.11.4
script(src='/assets/js/jquery-ui.min.js')
// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
// Bootstrap 4
script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
script(src='/assets/plugins/bootstrap/js/popper.min.js')

script(src='/assets/js/axios.min.js')
//common js
script(src='/assets/js/components/common.js')
//vue-select
script(src='/assets/plugins/vue-select-2.1/js/vue.js')
script(src='/assets/plugins/vue-select-2.1/js/vue-select.js')
script(src='/assets/plugins/vue-datepicker/vuejs-datepicker.min.js')
script(src='/assets/js/components/navbarcommon.js')