// Core JS Files
script(src='/assets/plugins/jquery/jquery.min.js')
// jQuery UI 1.11.4
script(src='/assets/plugins/jquery/jquery-ui.min.js')

script(src='/assets/plugins/jquery-validate/jquery.validate.min.js')
script(src='/assets/plugins/jquery-validate/additional-methods.min.js')

// Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
script.
  $.widget.bridge('uibutton', $.ui.button)
script(src='/assets/plugins/lodash/lodash.min.js')
// Bootstrap 4
script(src='/assets/plugins/bootstrap/js/bootstrap.min.js')
script(src='/assets/plugins/bootstrap/js/popper.min.js')

script(src='/assets/js/axios.min.js')
script(src='/assets/js/moment.min.js')

script(src='/assets/plugins/daterangepicker/daterangepicker.min.js')

//common js
script(src='/assets/js/components/common.js')

script(src='/assets/plugins/vue/js/vue.js')

script(src='/assets/plugins/vue-select-2.1/js/vue-select.js')
