<link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="/assets/plugins/css/ionicons.min.css">
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="/assets/plugins/css/google_font.css">
<link rel="stylesheet" href="/assets/css/style.css">
<!-- //bootstrap4 -->
<link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">