extends ../layout

block styles
  style(type='text/css').

block content
  include ../partials/spinner
  .container-fluid
    .row.justify-content-center.pt-2
      .col-10.border.rounded.pt-2.mb-2
        .row
          .col-12.text-right
            .btn-group
              button.btn.btn-primary(type='button' data-toggle='button' aria-pressed='false' autocomplete='off', @click="onBtnSearchClick") Search
        .row
          .col-12
            form#logSearchForm
              .form-row
                .form-group.col-md-6
                  label(for='processIdText') Process Id
                  input#processIdText.form-control(type='text' name='processIdText' placeholder='Process Id', v-model='searchData.processId')
                .form-group.col-md-6
                  label(for='emitterIdText') Emitter Id
                  input#emitterIdText.form-control(type='text' name='emitterIdText' placeholder='Emitter Id', v-model='searchData.emitterId')
              .form-row
                .form-group.col-md-6
                  .form-row
                    .col-md-6
                      label Time Range
                      .input-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-calendar
                        input#logTimeStamp.form-control.float-right(type='text', name='logTimeStamp', maxLength='46', readonly, style="background : white")
                    .col-md-6
                      label Time Zone
                      v-select(:id="'timeZoneOptions'" v-model='searchData.selectTimeZone' :options='timeZoneArr' :multiple='false' :reduce='item => item.code' label='label')
                .form-group.col-md-6
                  label(for='logLevelOptions') Log Level
                  v-select(:id="'logLevelOptions'" v-model='searchData.selectLogLevel' :options='logLevelArr' :multiple='true' :reduce='item => item.code' label='label' :close-on-select='false')
              .form-row
                .form-group.col-md-6
                  label(for='processIdText') Order By
                  v-select(:id="'searchOrderOptions'" v-model='searchData.selectSearchOrder' :options='searchOrderArr' :multiple='true' :reduce='item => item.code' label='label' :close-on-select='false')
                .form-group.col-md-6
                  label(for='processIdText') Record Range
                  div
                    span
                      | From &nbsp
                    .custom-control-inline
                      input.form-control(type='number' name="offsetInputText" min="1" v-model="searchData.offset" @input="validateNumber($event, 'offset')")
                    span
                      | Length &nbsp
                    .custom-control-inline
                      input.form-control(type='number' name="limitInputText" min="1" v-model="searchData.limit" @input="validateNumber($event, 'limit')")
                    
      .col-10.border.rounded.pt-2.mb-2.data-section.d-none
        .text-nowrap.text-center(v-if="logData.length == 0")
          | There is no data
        .card.text-white.mb-3(v-for="(item, idx) in logData" v-bind:class="classObject(item)")
          .card-body
            p.card-text Log Level : {{item.log_level}}
            p.card-text Process Code : {{item.process_code}}
            p.card-text Log Message : {{item.message}}
            
block scripts