extends ../layout

block styles

block content
  include ../partials/spinner
  .container-fluid
    .row.justify-content-center.pt-2
      .col-10.border.rounded.pt-2.mb-2
        .row
          .col-12
            form#logSearchForm
              .form-row
                .form-group.col-md-6
                  label(for='processIdText') Process Id
                  input#processIdText.form-control(type='text' name='processIdText' placeholder='Process Id', v-model='searchData.processId', v-on:keyup.enter="onBtnSearchClick")
                .form-group.col-md-6
                  label(for='emitterIdText') Emitter Id
                  input#emitterIdText.form-control(type='text' name='emitterIdText' placeholder='Emitter Id', v-model='searchData.emitterId', v-on:keyup.enter="onBtnSearchClick")
              .form-row
                .form-group.col-md-6
                  .form-row
                    .col-md-6
                      label Time Range
                      .input-group
                        .input-group-prepend
                          span.input-group-text
                            i.fa.fa-calendar
                        input#logTimeStamp.form-control.float-right(type='text', name='logTimeStamp', maxLength='46', readonly, style="background : white")
                    .col-md-6
                      label Time Zone
                      multiselect(:id="'timeZoneOptions'" v-model='searchData.selectTimeZone' :options='timeZoneArr' :multiple='false' :reduce='item => item.code' label='label')
                .form-group.col-md-6
                  label(for='logLevelOptions') Log Level
                  multiselect(v-model='searchData.selectLogLevel' track-by="code" :options='logLevelArr' :multiple='true' label='label' key='code' :close-on-select='false')
              .form-row
                .form-group.col-md-6
                  label(for='processIdText') Order By
                  multiselect(:id="'searchOrderOptions'" v-model='searchData.selectSearchOrder' :options='searchOrderArr' :multiple='false' label='label')
                .form-group.col-md-6
                  label(for='processIdText') Record Range
                  div
                    .custom-control-inline
                      | From &nbsp &nbsp &nbsp
                      input.form-control(type='number' name="offsetInputText" min="1" v-model="searchData.offset" @input="validateNumber($event, 'offset')")
                    .custom-control-inline
                      | Length &nbsp &nbsp &nbsp
                      input.form-control(type='number' name="limitInputText" min="1" v-model="searchData.limit" @input="validateNumber($event, 'limit')")
        .row
          .col-12.text-right.mb-2
            .btn-group
              button.btn.btn-primary(type='button' data-toggle='button' aria-pressed='false' autocomplete='off', @click="onBtnSearchClick") Search              
      .col-10.border.rounded.pt-2.mb-2.data-section.d-none
        .text-nowrap.text-center(v-if="logData.length == 0")
          | There is no data
        .card.text-white.mb-3(v-for="(item, idx) in logData" v-bind:class="classObject(item)")
          .card-body
            p.card-text [{{inputTimestamp(item.timestamp)}}][{{item.log_level.toUpperCase()}}]
            p.card-text [ProcessCode]: {{item.process_code}}
            p.card-text [Message]: {{item.message}}
            
block scripts